Xft*dpi: 109
Xft*autohint: 0
Xft*antialias: 1
Xft*rgba: rgb
Xft*hinting: 1
Xft*hintstyle: hintslight
Xft*lcdfilter: lcddefault

*loginShell: true
*scrollBar: false
*secondaryScroll: true
*saveLines: 65535
*cursorBlink: false
*urgentOnBell: true

URxvt*termName: rxvt-256color
URxvt*depth: 32
URxvt*font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt*boldFont: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt*italicFont: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt*bolditalicFont: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*font: -misc-tamsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1
!URxvt*boldFont: -misc-tamsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1
!URxvt*italicFont: -misc-tamsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1
!URxvt*bolditalicFont: -misc-tamsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1
!URxvt*font: -zevv-peep-medium-r-normal--16-140-75-75-c-80-iso8859-1
!URxvt*boldFont: -zevv-peep-medium-r-normal--16-140-75-75-c-80-iso8859-1
!URxvt*italicFont: -zevv-peep-medium-r-normal--16-140-75-75-c-80-iso8859-1
!URxvt*bolditalicFont: -zevv-peep-medium-r-normal--16-140-75-75-c-80-iso8859-1

*background: #1D1F21
*foreground: #C5C8C6
! black
*color0: #282A2E
*color8: #373B41
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #707880
*color15: #C5C8C6
